// Colors //
$black: #111;
$brandPurple: #b949f5;
$brandGreen: #4EB877;
$brandLight: #fdcdb3;

$backdrop1: #C2B7F3;
$backdrop2: #B0CBF1;
$backdrop3: #A8EEED;

// Fonts //
$font1: 'Lato', sans-serif;
$font2: 'Source Sans Pro', sans-serif;

// Tooling //
$testBorder1: 5px solid #59E259;
$testBorder2: 5px solid red;

