@import '_variables.scss';

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   font-family: $font2;
   font-size: 10px;
}

#header {
   background: $backdrop1;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   #logo {
      width: 22vh;
      height: auto;
      margin: 1% 8% 1% 14%;
   }
   #nav-list {
      display: grid;
      grid-template-columns:  repeat(4, minmax(160px, 1fr));
      justify-items: center;
      list-style-type: none;
      font-size: 1.9rem;
      font-weight: 600;
      margin-bottom: 1%;
      a:link, a:visited {
         text-decoration: none;
         color: $black;
      }
      a:hover {
         color: $brandPurple;
      }
      img {
         padding-right: 3px;
      }
   }
   #header-info {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      font-size: 1.4rem;
      padding-right: 10px;
      #services {
         color: #333;
      }
      #phone {
         width: 2vw;
         height: auto;
         transform: translate(-10%, 20%);
      }
      #facebook {
         padding-top: 10px;
         width: 12vw;
      }
   }
}

#main {
   background: $backdrop2;
}