@import '_variables.scss';

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   font-family: $font2;
   font-size: 10px;
   color: $black;
}

// !Home Page! //
#header {
   background: $backdrop1;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   #logo {
      width: 22vh;
      height: auto;
      margin: 1% 5% 1% 14%;
   }
   #nav-list {
      display: grid;
      grid-template-columns: repeat(4, minmax(160px, 1fr));
      justify-items: center;
      list-style-type: none;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1%;
      font-family: $font1;
      a:link, a:visited {
         text-decoration: none;
         color: $black;
      }
      a:hover {
         color: $brandPurple;
      }
      img {
         padding-right: 4px;
      }
   }
   #header-info {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      font-size: 1.4rem;
      padding-right: 10px;
      #available {
         color: #333;
      }
      #phone {
         width: 2vw;
         height: auto;
         transform: translate(-10%, 20%);
      }
      #facebook {
         padding-top: 10px;
         width: 12vw;
      }
   }
}

#main {
   background: $backdrop2;
   padding: 0% 18%;
   display: flex;
   padding-bottom: 3%;
   #left {
      #blurb-header {
         font-size: 2rem;
         padding: 2% 0%;
         color: $brandPurple;
      }
      #blurb {
         font-size: 1.4rem;
         width: 80%;
         font-weight: 600;
      }
      #book {
         padding: 5% 0%;
      }
      ul {
         list-style: none;
         font-size: 1.2rem;
      }
   }
   #right {
      text-align: center;
      font-size: 1rem;
      #right-phone {
         color: $brandPurple;
         font-size: 2rem;
      }
      #right-email {
         color: $brandPurple;
         font-size: 2rem;
      }
      #doggo {
         height: 500px;
         margin-top: 5%;
      }
      
   }
 
}

// !Services! //

#services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: $backdrop2;
   #service-box {
      border: 2px solid $black;
      border-radius: 20px;
      margin: 2%;
      box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
      background: #fafafa;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   #service-header{
      font-size: 1.5rem;
      padding-bottom: 10px;
      border-bottom: #E6ECF8 solid 2px;
      width: 90%;
   }
   #service-sort {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0% 5%;
      .service-obj {
         padding: 60px 10px;
         border-right: 1px solid #E6ECF8;
         border-left: 1px solid #E6ECF8;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
      }
      h2 {
         font-size: 1.6rem;
         padding: 10px 0px;
         color: $brandPurple;
      }
      h3 {
         font-size: 1rem;
         padding: 5px 0px;
      }
      .service-desc {
         width: 70%;
         font-size: 1.1rem;
         font-weight: 500;
         letter-spacing: 0.02em;
         color: $grey;
      }
   }
   #book {
      margin-bottom: 20px;
   }
}


#footer {
   text-align: center;
   background: $backdrop3;
   font-size: 1.1rem;
}